.ui-film-container {
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.25);

  /* 黑胶片的纹理 */
  background: repeating-radial-gradient(
      circle at center,
      transparent 0,
      transparent 1px,
      rgba(255, 255, 255, 0.04) 1px,
      rgba(255, 255, 255, 0.04) 2px
    ),
    #000;
}

/* 黑胶片的反光 */
.ui-film-container::before,
.ui-film-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: conic-gradient(
    transparent 0,
    rgba(255, 255, 255, 0) 25deg,
    rgba(255, 255, 255, 0.5) 45deg,
    rgba(255, 255, 255, 0) 65deg,
    transparent 90deg
  );
}

.ui-film-container::after {
  transform: rotate(180deg);
}

/* 黑胶片的封面 */
@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ui-film-cover {
  animation: round 20s linear infinite;
}

.ui-film-cover--playing {
  animation-play-state: running;
}

.ui-film-cover--paused {
  animation-play-state: paused;
}
