@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ui-player-cover {
  animation: rotate 20s linear infinite;
}

.ui-player-cover--playing {
  animation-play-state: running;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.ui-player-cover--paused {
  animation-play-state: paused;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ui-highlight {
  background: conic-gradient(
    transparent 0,
    rgba(255, 255, 255, 0) 25deg,
    rgba(255, 255, 255, 0.5) 45deg,
    rgba(255, 255, 255, 0) 65deg,
    transparent 90deg
  );
}

.ui-record {
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.25);
}

/* 音轨纹理 */
.ui-record::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 310px;
  height: 310px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: repeating-radial-gradient(
    circle at center,
    transparent 0,
    transparent 1px,
    rgba(255, 255, 255, 0.04) 1px,
    rgba(255, 255, 255, 0.04) 2px
  );
}
