@import 'tailwindcss';

@font-face {
  font-family: 'Silent Forest';
  src: url('@/assets/fonts/Silent-Forest.ttf') format('truetype');
}

.font-silent-forest {
  font-family: 'Silent Forest', sans-serif;
}

/* KaushanScript-Regular.ttf */
@font-face {
  font-family: 'Kaushan Script';
  src: url('@/assets/fonts/KaushanScript-Regular.ttf') format('truetype');
}

.font-kaushan-script {
  font-family: 'Kaushan Script', cursive;
}

/* LibreBaskerville-Italic-VariableFont_wght */
@font-face {
  font-family: 'Libre Baskerville';
  src: url('@/assets/fonts/LibreBaskerville-Italic-VariableFont_wght.ttf') format('truetype');
}

.font-libre-baskerville {
  font-family: 'Libre Baskerville', serif;
}


/* 文字阴影 */
.ui-text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
